body {
  background-color: blue;
}
#gamecol{
  margin: 0;

}
#slideritem{
  padding: 0;
}
#playground{
  width: 80%;
}
#demo{
  width: 80%;
}

.wrapper{
  display: flex;
  flex-direction: row;
}
.card-holder{
  min-width: 200px;
  max-width: 200px;
  min-height: 250px;
  max-height: 250px;
}


.col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.col-md-3 img{
  width:100%;
  height:auto;
}

body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

